<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% block title %} {% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    </head>

<body>
    {% include 'navbar.html' %}
    {% block content %} {% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        function bookSearch(){
            var search = document.getElementById('search').value
            document.getElementById('results').innerHTML = ""
            console.log(search)
            $.ajax({
                url: "https://www.googleapis.com/books/v1/volumes?q=" + search,
                dataType: "json",
                success: function(data) {
                    results.innerHTML += "<tr><th>Nama Buku</th><th>Penulis</th><th>Tahun Terbit</th><th>Rating</th></tr>"
                    for (i = 0; i < data.items.length; i++) {
                        results.innerHTML += "<tr><td>" + data.items[i].volumeInfo.title
                        + "</td><td>" + data.items[i].volumeInfo.authors
                        + "</td><td>" + data.items[i].volumeInfo.publishedDate
                        + "</td><td>" + data.items[i].volumeInfo.averageRating + "</td></tr>"
                    }
                },
                type: 'GET'
            });
        }
        document.getElementById('button').addEventListener('click', bookSearch, false)
    </script>
    {% block script %} {% endblock %}
</body>
</html>