{% extends 'base.html' %}
{% load static %}
{% block title %} Book Finder {% endblock %}

{% block content %}
    <center>
        <h1>Book Finder</h1>
        <input id="search" placeholder="Title or Author">
        <button id="button" type="button">Click Me</button>
        <table id="results" class="tables"></table>
    </center>
{% endblock %}