.accordion {
    margin-top: 5%;
}

.accordiontitle {
    background-color: #52616b;
    border: #f0f5f9;
    border-radius: 20px;
    margin: 0;
    max-width: 50%;
    padding: 1%;
}

.accordioncontent {
    background-color: #f0f5f9;
    border-radius: 20px;
    color: #1e2022;
    font-weight: 600;
    margin: 0;
    max-width: 50%;
    padding: 1%;
}

.accordionlines {
    margin: 0;
}

.confirmation {
    background-color: #b3c7d4;
    border-radius: 10px;
    margin: 5% auto 0 auto;
    max-width: 50%;
    padding: 2%;
}

.down {
    margin-top: 2%;
}

.footer {
    background: #f0f5f9;
    margin-top: 1%;
    padding-top: 2%;
}

.moveup {
    margin-top: 1%;
}

.navbar-brand {
    font-size: x-large;
}

.nomargin {
    margin: 0;
}

.status {
    background-color: #52616b;
    border-radius: 10px;
    margin: 2%;
    max-width: 46%;
    padding: 2%;
}

td {
    background-color: #f0f5f9;
    border: 2px solid #52616b;
    color: #1e2022;
    max-width: 50%;
    padding: 2%;
}

th {
    background-color: #b3c7d4;
    border: 2px solid #52616b;
    color: #1e2022;
    max-width: 50%;
    padding: 2%;
}

table {
    margin: 5%;
}

.watermark {
    font-weight: bold;
    margin-top: 3%;
}

body {
    background-color: #1e2022;
    color: #f0f5f9;
}

nav {
    background-color: #f0f5f9;
    margin-bottom: 2%;
}